<h1 class="text-center">Editar Gasto</h1>

<div class="container">
  <%= form_with(model: @gasto, url: gasto_path(@gasto), method: :patch) do |form| %>
    <div class="mb-3">
      <%= form.label :monto, class: "form-label" %>
      <%= form.text_field :monto, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :descripcion, class: "form-label" %>
      <%= form.text_field :descripcion, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :fecha, class: "form-label" %>
      <%= form.date_field :fecha, class: "form-control" %>
    </div>
    <div class="text-center">
      <%= form.submit "Guardar cambios", class: "btn btn-primary" %>
      <%= link_to "Cancelar", :back, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

