<div class="container">
  <h2 class="text-left">Agregar Gasto</h2>

  <%= form_with(model: [@grupo, @gasto], url: grupo_gastos_path(@grupo), class: 'form-container') do |form| %>
    <div class="form-group">
      <%= form.label :monto, "Monto ($)"  %>
      <%= form.text_field :monto, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :descripción %>
      <%= form.text_field :descripcion, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :fecha %>
      <%= form.date_field :fecha, class: 'form-control' %>
    </div>
    <!-- Para asignar el gasto a un usuario del grupo-->
    <div class="form-group">
      <%= form.label :usuario_id, "Usuario" %>
      <%= form.collection_select :usuario_id, @grupo.usuarios, :id, :nombre, class: 'form-control' %>
    </div> 
    <%= form.submit 'Agregar Gasto', class: 'btn btn-primary' %>
    <%= link_to 'Cancelar', grupos_path, class: 'btn btn-warning' %>
  <% end %>
</div>

