<div class="container">
  <h1>Gastos del Grupo: <%= @grupo.nombre %></h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Monto</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Usuario</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @gastos.each do |gasto| %>
        <tr>
          <td><%= gasto.monto %></td>
          <td><%= gasto.descripcion %></td>
          <td><%= gasto.fecha %></td>
          <td><%= gasto.usuario.nombre %></td>
          <td>
            <%= link_to 'Eliminar', eliminar_gasto_grupo_path(@grupo, gasto), method: :delete, data: { confirm: '¿Estás seguro de eliminar este gasto?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

