<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Detalles del Grupo</h1>

          <% if flash[:notice] %>
            <div class="alert alert-success" role="alert">
              <%= flash[:notice] %>
            </div>
          <% end %>

          <p><strong>Nombre:</strong> <%= @grupo.nombre %></p>
          <p><strong>Descripción:</strong> <%= @grupo.descripcion %></p>

          <h2>Integrantes:</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Gasto Total</th>
              </tr>
            </thead>
            <tbody>
              <% @usuarios_grupo.each do |usuario| %>
                <tr>
                  <td><%= usuario.nombre %></td>
                  <td>$ <%= usuario.gasto_total_en_grupo(@grupo) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
          <%= link_to 'Dividir gastos', dividir_gastos_grupo_path(@grupo), method: :post %>
          <%= link_to 'Volver', grupos_path, class: 'btn btn-dark btn-sm' %>
        </div>
      </div>
    </div>
  </div>
</div>




