<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Detalles del Grupo</h1>

          <p><strong>Nombre:</strong> <%= @grupo.nombre %></p>
          <p><strong>Descripción:</strong> <%= @grupo.descripcion %></p>
          <p><strong>Grupo creado por:</strong> <%= Usuario.find(@grupo.created_by).nombre %></p>

          <h2>Integrantes:</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Gasto Total</th>
                <th>Debe</th>
                <th>Recibe</th>
              </tr>
            </thead>
            <tbody>
              <% @usuarios_grupo.each do |usuario| %>
                <tr>
                  <td><%= usuario.nombre %></td>
                  <td>$ <%= number_with_precision(usuario.gasto_total_en_grupo(@grupo), precision: 2) %></td>
                  <td>$ <%= number_with_precision(@debe_recibe[usuario.id][:debe], precision: 2) %></td>
                  <td>$ <%= number_with_precision(@debe_recibe[usuario.id][:recibe], precision: 2) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          
          <p><strong>Gastos totales:</strong> $<%= number_with_precision(@grupo.gastos.sum(:monto), precision: 2) %></p>
          
          <div class="form-actions">
            <% if current_user.admin? %>
              <%= link_to "Volver", admin_grupos_grupos_path, class: 'btn btn-dark btn-sm' %>
            <% else %>
              <%= link_to "Volver", grupos_path, class: 'btn btn-dark btn-sm' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





