<div class="container">
  <h1 class="text-center">Lista de Grupos</h1>

  <% if flash[:notice] %>
    <div class="alert alert-success text-center"><%= flash[:notice] %></div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger text-center"><%= flash[:alert] %></div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <% @grupos.each do |grupo| %>
          <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span class="bullet-point">&#8226;</span> <%= grupo.nombre %>
              </div>
              <div>
              <%= link_to 'Agregar un Nuevo Gasto',  new_grupo_gasto_path(grupo), class: 'btn btn-primary btn-sm me-2' %>
                <%= link_to 'Ver detalles', grupo_path(grupo), class: 'btn btn-primary btn-sm me-2' %>
                <%= link_to 'Editar', edit_grupo_path(grupo), class: 'btn btn-primary btn-sm me-2' %>
                <%= form_with(model: grupo, url: grupo_path(grupo), data: { confirm: "¿Está seguro de que desea eliminar este grupo?" }, method: :delete, class: 'd-inline') do |form| %> 
                  <%= form.submit "Eliminar", class: 'btn btn-danger btn-sm' %> 
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div> <%= link_to 'Volver', index_home_path, class: 'btn btn-dark' %> </div>
</div>

