<% if flash[:alert] %>
<div class="alert alert-danger text-center"><%= flash[:alert] %></div>
<% end %>

<style>
  .center {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-container {
    margin-top: 20px;
    width: 300px;
  }

  .form-container label {
    display: block;
    margin-bottom: 5px;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .form-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
  }

</style>

<div class="center">
  <h1>Crear una nueva cuenta</h1>
</div>

<div class="container">
  <div class="form-container">
    <%= form_with(model: @usuario, url: usuarios_path) do |form| %>
      <div class="field">
        <%= form.label :Nombre %>
        <%= form.text_field :nombre %>
      </div>
      <div class="field">
        <%= form.label :'Correo electr칩nico' %>
        <%= form.email_field :email %>
      </div>
      <div class="field">
        <%= form.label :Contrase침a %>
        <%= form.password_field :password %>
      </div>
      <div class="field">
        <%= form.label :'Confirmaci칩n de Contrase침a' %>
        <%= form.password_field :password_confirmation %>
      </div>

      <div class="actions">
        <%= form.submit "Registrarse"%>
        <%= link_to 'Cancelar', root_path, class: 'btn-cancel' %>
      </div>
    <% end %>
  </div>
</div>

 <%= render 'layouts/messages' %>